footer {
  @include align-center;
  background-color: #000000;
  min-height: 7vh;

  .footer-social-media-icons {
    display: flex;
    gap: 1rem;

    .social-media-icon {
      font-size: 1.5rem;
      color: black;
      padding: 0.5rem;
      border: 1px solid $silver;
      border-radius: 50%;
      text-decoration: none;
      background-color: $silver;
      transition-property: all;
      transition-duration: 0.3s;
      @include align-center;
    }
  }

  .footer-social-media-icons.mouse-entered {
    .social-media-icon {
      border: 1px solid #666666;
      background-color: #666666;

      &:hover {
        border: 1px solid $silver;
        background-color: $silver;
      }
    }
  }
}
