header {
    height: 7vh;
    background-color: #000000c1;
    transform: translateZ(0);
    position: absolute;
    width: 100%;
    z-index: 50;
}

nav {
    @include align-center;
    height: 100%;
    display: none;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 1rem;

    @media (min-width:600px) {
        display: flex;
    }

    >a {
        color: $silver;
        text-decoration: none;
        font-size: 1.2rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        transition-property: all;
        transition-duration: 0.3s;

        &:hover {
            color: $pale-gold;
        }
    }
}